.DS_Store
*.pyc
*.egg-info
*.swp
tags
erpnext_projects_plus/docs/current
node_modules/
dist/

# dev container
.devcontainer/.env
node_modules

# vitepress
/dist
pages/.vitepress/dist

# vitepress cache
pages/.vitepress/cache